<h2>Books</h2>

<table>
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>

      <% @books.each do |book| %>
      <tbody>
        <tr>
          <%= attachment_image_tag book, :image %>
          <td><%= image_tag(sample-author1.jpg) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </body>
</html>
