<!DOCUTYPE html>

<html>
  <head>
    <title>Bookers2</title>
  </head>

  <body>
    <h1>Books</h1>

    <table>
      <thead>
        <tr>
          <th colspan="1"></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>
      </thead>

      <% @books.each do |bool| %>
      <tbody>
        <tr>
          <td></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </body>
</html>
